# Core packages
annotated-types
censusdis
contextily
datahugger
duckdb>=1.4.1
folium
fsspec
# gdal
geopandas
# geopy
# geos

# Discrete Global Grid System used for spatial indexing
h3>=4.2.0
# ipyleaflet
ipython
# vs code dependency
ipykernel
ipywidgets
# jupytext

# lonboard
matplotlib
notebook
numpy
openpyxl
overturemaps
overturemaestro  # Efficient Overture Maps data access
pandas
plotly
# pvlib
# pycountry
# pydeck
# pygeohash
pyproj
python-dotenv
reverse-geocoder
scikit-learn
# scipy
seaborn
shapely
tqdm
urllib3
