# Core packages
annotated-types
# only required for initial upload of large consolidated dataset to R2
boto3
censusdis
contextily
datahugger
duckdb>=1.4.1
folium
fsspec
# gdal
geopandas
# geopy
# geos

# Discrete Global Grid System used for spatial indexing
h3>=4.2.0
# ipyleaflet
ipython
# vs code dependency
ipykernel
ipywidgets
jupytext

# lonboard
matplotlib
notebook
numpy
openpyxl
overturemaps
overturemaestro  # Efficient Overture Maps data access
pandas
plotly
# pvlib
# pycountry
# pydeck
# pygeohash
pyproj
python-dotenv
reverse-geocoder
scikit-learn
# scipy
seaborn
sf-hamilton
shapely
statsmodels
tqdm
urllib3
